* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(229, 236, 236);
}
.topContent {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 10vh;
}
.topContent h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 5px;
  font-size: 60px;
  color: rgb(26, 21, 21);
}

#input {
  width: 80%;
  height: 40px;
  border-radius: 8px 8px 8px 8px;
  border: none;
  font-size: 20px;
  text-align: center;
  margin-top: 4vh;
}
.img {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border: 10px solid white;
  border-radius: 10px 10px 10px 10px;
}
img {
  width: 300px;
  height: 300px;
}
#grid {
  position: relative;
  margin-top: 10vh;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  grid-gap: 100px;
}

span {
  position: absolute;
  right: -20px;
  top: 240px;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  background-color: black;
  color: white;
}
#article {
  position: relative;
}
